.App {
  text-align: center;
  background-color: rgba(111, 111, 111, 0.5);
  max-width: 960px;
  margin: 0 auto;
  border-radius: 20px;
}

body {
  background-image: url("./img/powerpuffplane.jpg");
  background-size: cover;
  text-align: center;
  align-items: center;
  max-width: 960px;
  margin: 0 auto;
  font-size: 20px;
  font-family: fantasy;
  letter-spacing: 1px;
  padding: 0px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #985fb5;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

td {
  border: 2px solid #c80ce8;
  line-height: 3;
  padding: 0 0em;
}

.aisle {
  background-color: #c80ce8;
  color: #c80ce8;
}

td:hover {
  border-color: red;
  background-color: pink;
}

.clicked {
  background-color: yellow;
}

.taken {
  background-color: red;
}

img {
  border-radius: 50%;
}

td.plane {
  border: 1px solid black;
  border-radius: 10px;
  padding: 1em;
}

table {
  text-align: center;
}

.airplane {
  background-color: rgba(111, 111, 111, 0.5);
  text-align: center;
  border-radius: 30px;
}

a {
  color: brown;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  color: #1F618D;
}

.airplaneform {
  text-align: center;
  padding: 10px;
  margin: 10px;
}
  .airplaneform label, input, form {
  color: brown;
  font-weight: bold;
  padding: 10px;
  margin: 10px;
  }

.airplaneform input[type=submit] {
    color: #1F618D;
    font-size: 20px;
    background-color: grey;
    padding: 10px;
    margin: 10px;
    font-weight: bold;
    border-radius: 10px;
  }

.airplaneform input[type=submit]:hover {
  background-color: black;
}

.displayplane {
  text-align: center;
  align-items: center;
}

.planetable {
  text-align: center;
}

.planetable th {
  padding-right: 10px;
}
